
/NetService/Debug
/NetService/bin
/vnoc/Debug
*.sdf
/netservice/Debug
/netservice/Release
*.obj
*.tlog
*.user
*.log
*.res
*.pch
*.lastbuildstate
*.idb
*.ipch
*.suo
*.pdb
*.manifest
*.opensdf
*.cache
*.lib
*.filters
!libmysql.lib
!mysqlclient.lib