# Directories to ignore
bin
[Bb]uild
Debug
Release
/NetService/src/test/testRunner
/Client/CppTest

# Files to ignore
*.sdf
*.obj
*.tlog
*.user
*.log
*.res
*.pch
*.lastbuildstate
*.idb
*.ipch
*.suo
*.pdb
*.manifest
*.opensdf
*.cache
*.lib
*.o
*.aps
*.unsuccessfulbuild
tags
cpptestresults.xml

!libmysql.lib
!mysqlclient.lib

/NetService/libmysql.dll
/NetService/NetService.zip
/NetService/server.exe
/NetService/.project
/NetService/.cproject

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
