<?xml version="1.0" encoding="UTF-8"?>
<VNOCConfig>
	<CodeEditor>
		<Language language="cpp">
			<Font bold="0" italic="0" underline="0">Courier New</Font>
			<Editor>
				<ShowLineNum color="255,255,255">1</ShowLineNum>
			</Editor>
		</Language>
	</CodeEditor>
	<test>This is Test</test>
</VNOCConfig>