<?xml version="1.0" encoding="UTF-8" ?>
<SciEdit>
	<Language language="cpp" test="testValue">
		<Editor>
			<TabWidth tabWidth=4/>
			<ShowLineNum color="255,255,255">1</ShowLineNum>
		</Editor>
		<Font bold="0" italic="0" underline="0">Courier New</Font>
		<test>This is Test</test>
	</Language>
</SciEdit>