// LESS - ¿ò¼Ü;
#frames
{
	// ¿ò¼Ü;
	.frame(@width,@height){
		width:@width;
		height:@height;
		background-color:#E6E6E6;
		border:#FFFFFF solid thin;
		outline:#4D4D4D solid thin;
		overflow:hidden;
	}
	// ²Ù×÷Çø;
	.field(@width,@height){
		width:@width;
		height:@height;
		background-color:#FDFDFD;
		border:#4D4D4D solid thin;
		overflow:hidden;
	}
}